<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/cyberpunk.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Something</title>
</head>
<body>
    <div style="padding: 5% 1% 1% 10%;">
    <form action="/read_input" method="post">
        <label for="vertex">Core memory</label>
        <div style="padding: 1% 0 0 1%;" class="cyber-input ac-purple"><input type="text" name="vertex" id="vertex" placeholder="Name of Node"></div>
        <br>
        <label for="tag">Memory tag</label>
        <div style="padding: 1% 0 0 1%;" class="cyber-input ac-red"><input type="text" name="tag" id="tag" placeholder="tag"></div>
        <br><br><br>
        <button class="cyber-button bg-dark fg-white">
            See Meta Data
            <span class="glitchtext">BRRRRRRRRRRRRRRR!</span>
        </button>
    </form>
    </div>
</body>
</html>