<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/cyberpunk.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <div style="padding: 5% 1% 1% 10%;">
    <form action="/search_input" method="post">
        <label for="search_vertex">Core memory</label>
        <div style="padding: 1% 0 0 1%;" class="cyber-input ac-purple"><input type="text" name="search_vertex" id="search_vertex" placeholder="Name of Node"></div>
        <br>
        <button class="cyber-button bg-dark fg-white" type="submit">
            Submit Meta Data
            <span class="glitchtext">BRRRRRRRRRRRRRRR!</span>
        </button>
    </form>
    </div>
</body>
</html>